.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.cardBack {
    background-color: #DC9E82;
    /* padding-top: 100%; */
    margin-top: 25px;
    border: 5px solid #C16E70;
    border-radius: 10px;
    aspect-ratio: 1/1;
}

.cardImage {
    /* padding-top: 100%; */
    margin-top: 25px;
    border: 5px solid #030027;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}